ul{
    list-style-type: none;
}
.header__container{
    width: 1920px;
    height: 120px;
    flex-shrink: 0;
    background: var(--4, #FFF);
    display: flex;
    max-width: 100%;

    ul{
        display: flex;
        justify-content: space-between;
        gap: 40px;
        margin-left: 111px;
    }
    img{
        margin-left: 259px;
        margin-top: 36px;
            width: 189.997px;
    height: 47.77px;
    flex-shrink: 0;
    }
    ul{
        width: 654.5px;
    height: 16px;
    justify-content: flex-end;
    align-items: flex-start;
    flex-shrink: 0;
    margin-top: 52px;
    margin-right: -100px;
    }
    h3{
        margin-top: 52px;
        margin-left: 11px;
        margin-bottom:-10px;
    }
    button{
        border-radius: 36px;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
    width: 170px;
    height: 48px;
    flex-shrink: 0;
    padding: 15px;
    transition: all 0.5s;
    margin-top: 36px;
    margin-left: 42px;
    color: var(--1, #FFF);
    text-align: center;
    font-family: Gilroy;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 138.462% */
    }
    button:hover{
        background:rgb(17, 110, 17)
    }
}
.body__container{
    width: 1800px;
    height: 680px;
    flex-shrink: 0;
    border-radius: 36px;
    background: linear-gradient(80deg, #5B52A3 1.08%, #40B8EA 100%);
    margin-left: 60px;
    margin-right: 60px;

    h3{
        color: var(--4, #FFF);
    font-family: Gilroy;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px; /* 111.111% */
    width: 715px;
    margin-left: 200px;
    margin-bottom: 8px;
    }

    h5{
        width: 707px;
    color: var(--4, #FFF);
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 42px; /* 210% */
    margin-left: 200px;
    margin-top: 8px;
    }

    button{
        border-radius: 36px;
        width: 260px;
    height: 66px;
    flex-shrink: 0;
        background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
        box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
        margin-left: 200px;
       margin-bottom:108px;
       transition: all 0.7s;
    }

    button:hover{
        background: rgb(255,0,0);
        background: linear-gradient(90deg, rgba(255,0,0,1) 15%, rgba(5,10,43,1) 21%, rgba(5,36,0,0.6951155462184874) 23%, rgba(2,167,2,1) 31%, rgba(0,255,145,0.7455357142857143) 36%, rgba(12,253,56,1) 44%, rgba(11,249,18,0.6755077030812324) 55%, rgba(13,24,144,1) 71%, rgba(255,0,5,1) 93%);
    }

        img{
        margin-left: 1000px;
        width: 572.998px;
        height: 571.119px;
        flex-shrink: 0;
        margin-top: -1000px;
         margin-right: 260px;
        }
}
 .second__container{
    p{
        width: 477px;
    color: var(--1, #1F2428);
    font-family: Gilroy;
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: 50px; /* 113.636% */
    margin-left: 260px;
    display: flex;
    }

 }
 .info{
    width: 179px;
    height: 100px;
    flex-shrink: 0;
    background: var(--6, #F2F6FC);
    margin-left: 330px;
    display: flex;
    margin-left: 350px;

    img{
        margin-left: 23px;
        margin-top: 20px;
        width: 52px;
        height: 52px;
        flex-shrink: 0;
    }

    h2{
        color: var(--1, #1F2428);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    margin-top: 38px;
    margin-bottom: 38px;
    margin-right: 25px;
    margin-left: 15px;
    cursor: pointer;
    }

}
.info2__container{
    width: 477px;
    color: var(--1, #1F2428);
    font-family: Gilroy;
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: 50px; /* 113.636% */
    margin-left: 350px;
    display: flex;
    margin-top: -100px;
    gap: 32px;

    h2{
        color: var(--1, #1F2428);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    margin-left: 5px;
    }
}
.info3__container{
    width: 179px;
    height: 100px;
    flex-shrink: 0;
    background: var(--6, #F2F6FC);
    margin-left: 1000px;
    display: flex;
    margin-top: -100px;
    margin-left: 1005px;

    img{
        margin-left: 23px;
        margin-top: 20px;
        width: 52px;
        height: 52px;
        flex-shrink: 0;
    }

    h2{
        color: var(--1, #1F2428);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    margin-left: 80px;
    margin-top: -35px;
    }

}
p{
    width: 400px;
color: var(--1, #1F2428);
font-family: Gilroy;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 138.462% */
margin-left: 260px;
margin-top: 100px;
}

.russin__container{
    width: 400px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #F2F6FC;
    margin-left: 260px;
    margin-top: 44px;

    h1{
        color: var(--1, #1F2428);
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    margin-left: 137px;
    margin-top: -85px;

    }

    img{
        margin: 33px 34px;
        width: 75px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    }

.img img{
        width: 499px;
        height: 475px;
        flex-shrink: 0;
        background: url(<path-to-image>), white 50% / cover no-repeat;
        margin-left: 450px;
        margin-top: -200px;
}
}
.angliya__container{
    width: 400px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--6, #F2F6FC);
    margin-left: 1000px;
    margin-top: -410px;
}.footer__container{
    img{
        width: 110px;
    height: 112px;
    flex-shrink: 0;
    margin-left: 265px;
    margin-top: 207px;
    margin-bottom: -40px;
    } p{
        color: var(--1, #1F2428);
    text-align: center;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 133.333% */
    margin-right: auto;
    margin-left: auto;
    }

}
.shim img{
        width: 73px;
    height: 112px;
    flex-shrink: 0;
    margin-left: 1500px;
    margin-top: -300px;
}
.center-text p{
    margin-top: 33px;
}