ul{
    list-style-type: none;
}
.header__container{
    width: 1920px;
    height: 120px;
    flex-shrink: 0;
    background: var(--4, #FFF);
    display: flex;
    max-width: 100%;

    ul{
        display: flex;
        justify-content: space-between;
        gap: 40px;
        margin-left: 111px;
    }
    img{
        margin-left: 259px;
        margin-top: 36px;
    }
    ul{
        width: 654.5px;
    height: 16px;
    justify-content: flex-end;
    align-items: flex-start;
    flex-shrink: 0;
    margin-top: 52px;
    margin-right: -100px;
    }
    h3{
        margin-top: 52px;
        margin-left: 11px;
        margin-bottom:-10px;
    }
    button{
        border-radius: 36px;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
    width: 170px;
    height: 48px;
    flex-shrink: 0;
    padding: 15px;
    transition: all 0.5s;
    margin-top: 36px;
    margin-left: 42px;
    color: var(--1, #FFF);
    text-align: center;
    font-family: Gilroy;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 138.462% */
    }
    button:hover{
        background:rgb(17, 110, 17)
    }
}